<!-- wp:generateblocks/container {"uniqueId":"c9e21852","isDynamic":true,"blockVersion":4,"className":"bg-[#f7f7f7] px-3 py-2.5 lg:py-5"} -->
<!-- wp:generateblocks/container {"uniqueId":"5f812b5e","isDynamic":true,"blockVersion":4,"className":"container mx-auto"} -->
<!-- wp:yoast-seo/breadcrumbs {"className":"text-[#777777] text-sm font-normal font-primary leading-normal !mb-3.5"} /-->

<!-- wp:post-title {"className":"text-[#000180] text-3xl lg:text-5xl font-bold font-secondary leading-[45px] lg:leading-[72px]"} /-->
<!-- /wp:generateblocks/container -->
<!-- /wp:generateblocks/container -->

<!-- wp:generateblocks/container {"uniqueId":"09373a8f","isDynamic":true,"blockVersion":4,"className":"bg-white"} -->
<!-- wp:generateblocks/container {"uniqueId":"6f244f30","isDynamic":true,"blockVersion":4,"className":"container mx-auto py-6 lg:py-8 px-5 2xl:px-0"} -->
<!-- wp:post-content /-->
<!-- /wp:generateblocks/container -->
<!-- /wp:generateblocks/container -->